* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 40px 10px 40px;
}

.header__logo {
  width: 118px;
}

.header__search-bar {
  width: 382px;
  height: 52px;
  margin: 0 24px;
  text-align: center;
  border-radius: 40px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
}

.search-bar-button {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
}

#button-guest {
  color: gray;
}

#search-bar-icon {
  width: 30px;
  cursor: pointer;
}

.header__setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__setting-description {
  font-size: 16px;
  color: black;
}

.header__setting-icon {
  width: 46px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__setting-icon img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.header__setting-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 65px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid lightgray;
  padding: 0px 10px;
}

#profile-list-img {
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-right: 4px;
}

#profile-icon-img {
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 4px;
}

.line {
  border-bottom: 1px solid lightgray;
  margin: 5px 0px;
}

.type {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
}

.type__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.type__wrapper::-webkit-scrollbar {
  display: none;
}

.type__item {
  width: 80px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}

.type__item__icon {
  width: 30px;
}

.type__item__description {
  font-size: 12px;
  margin-top: 20px;
}

.type__filter {
  width: 78px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 10px;
  flex-direction: row;
  border-radius: 12px;
  border: 1px solid lightgray;
}

.type__filter__icon {
  width: 20px;
  height: 20px;
}

footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 40px;
}

.footer__01 {
  font-size: 14px;
  line-height: 18px;
  color: rgb(34, 34, 34);
  margin-bottom: 10px;
}

.footer__02 {
  font-size: 10px;
  line-height: 12px;
  color: gray;
  margin-top: 10px;
}

.room {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 190px;
  flex-wrap: wrap;
  margin-left: 40px;
}

.room__item {
  width: 350px;
  position: relative;
  border-radius: 10px;
  margin: 40px 20px 0px 0px;
  overflow: hidden;
}

.room__item__imgBox {
  width: 100%;
  height: 100%;
  position: relative;
  aspect-ratio: 1;
}

.imgBox {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.imgBox__like {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 10px;
}

.room__item__textBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-top: 20px;
}

.textBox__1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  color: black;
  font-size: 18px;
  margin-bottom: 5px;
}

.textBox__1__loc {
  font-weight: bold;
  overflow: hidden;
}

.textBox__2 {
  color: rgb(34, 34, 34);
  font-size: 18px;
  margin-bottom: 5px;
}

.textBox__3 {
  color: black;
  font-size: 18px;
}

.button__map {
  position: fixed;
  background-color: black;
  color: white;
  width: 150px;
  height: 50px;
  bottom: 130px;
  padding: 14px;
  margin-left: calc((50% - 95px));
  z-index: 1;
  border-radius: 40px;
  border: 0px;
}
