#login-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#login-label {
  font-size: 1.2rem;
  padding: 4rem 0 2rem 0;
  font-weight: bolder;
}
#login-id {
  height: 3rem;
  width: 19rem;
  padding: 0 0 0 1rem;
  border-color: lightgrey;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
}
#login-password {
  height: 3rem;
  width: 19rem;
  padding: 0 0 0 1rem;
  border-color: lightgrey;
  border-radius: 5px;
  font-size: 1rem;
}
.login-page-1 {
  display: flex;
  flex-direction: column;
}
.login-page-2 {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin-left: 10rem;
  font-size: small;
  padding: 1rem 0 1.5rem 0;
}
.login-page-3 {
  display: flex;
  flex-direction: column;
}
#login-login-btn {
  background-color: #5f0080;
  color: white;
  height: 3rem;
  width: 19rem;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 0.8rem;
}
#login-signin-btn {
  background-color: white;
  color: #5f0080;
  height: 3rem;
  width: 19rem;
  font-weight: bold;
  border: 1px solid #5f0080;
  border-radius: 5px;
}
