* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  width: 100vw;
  height: auto;
  margin: 0;
  color: white;
  background-color: black;
}

aside {
  position: fixed;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
  border-right: 0.5px solid rgba(78, 78, 78, 0.671);
}

aside nav > svg {
  margin-top: 30px;
  margin-bottom: 40px;
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
aside li {
  display: block;
  text-decoration: none;
}

aside a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 20px 0;
}

aside ul a:hover {
  background-color: rgba(26, 26, 26, 0.672);
  border-radius: 30px;
}

aside ul li svg {
  margin-right: 10px;
  margin-left: 5px;
}
aside ul li > div {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
}

aside img {
  width: 25px;
  height: 25px;
  border-radius: 50%; /* 원 모양으로 만듦 */
  margin-right: 10px;
  margin-left: 5px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px 0;
}

#left-section {
  width: 750px;
  margin-left: 200px;
}

#story-slider {
  width: 750px;
  padding: 20px 20px;
  display: flex;
  overflow: hidden;
}

#story-slider ul {
  display: flex;
  list-style-type: none; /* 기본적으로 적용되는 마커를 제거하기 위한 속성 */
  padding: 0;
}

.slide {
  width: 90px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide p {
  margin-top: 7px;
  text-align: center;
  width: 100%;
  white-space: nowrap; /* 줄바꿈 없이 텍스트 표시 */
  overflow: hidden; /* 텍스트를 감추고 말줄임표 표시 */
  text-overflow: ellipsis; /* 말줄임표 표시 */
}

.slide img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}

footer {
  width: 335px;
  padding: 20px 20px;
}

.profile-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

footer .profile-box {
  display: flex;
  align-items: center;
}
footer .profile-box div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.profile-box div h1 {
  font-size: 14px;
}
.profile-box div p {
  color: rgb(157, 157, 157);
  font-size: 14px;
}

#my-profile-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* 원 모양으로 만듦 */
}

footer .trans-button {
  font-weight: 600;
  font-size: 12px;
  color: rgb(0, 149, 246);
}

#user-recommend > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  margin: 20px 0;
}

#user-recommend > div h1 {
  color: rgb(157, 157, 157);
}
#user-recommend div:first-child p {
  font-size: 12px;
}

#user-recommend ul li > div {
  padding: 8px 0;
}

#user-recommend img {
  width: 35px;
  height: 35px;
  border-radius: 50%; /* 원 모양으로 만듦 */
  object-fit: cover;
}

#user-recommend .profile-box div {
  margin-left: 10px;
}

#footer-link {
  width: 250px;
  padding: 20px 0;
}
#footer-link a {
  font-size: 12px;
  color: rgb(157, 157, 157);
}

#footer-link a::after {
  content: "•";
  margin-right: -4px;
}

#footer-link a:last-of-type::after {
  content: "";
}

#final {
  font-size: 12px;
  color: rgb(157, 157, 157);
}

#left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#post-content {
  width: 468px;
}

#post-content ul li > div {
  border-bottom: 0.5px solid rgba(78, 78, 78, 0.671);
  padding: 10px 0;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.post-header-left {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.standard-profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%; /* 원 모양으로 만듦 */
  object-fit: cover;
  margin-right: 10px;
}

.image-slider {
  width: 100%;
  height: 546px;
}

.image-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.interaction-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.interaction-bar svg {
  margin-right: 10px;
}

.interaction-bar svg:last-child {
  margin-right: 0;
}

.article div {
  padding: 10px 0;
}

.article a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  margin-right: 10px;
}

.comment-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-bar input {
  border: none;
  outline: none;
  background: none;
  color: white;
}
